@model Praktyki.Models.Reservation

@{
    ViewData["Title"] = "Usuwanie zajęć";
}

<h3 class="my-4">Czy chcesz usunąć poniższe dane o zajęciach?</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Nr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hour.Hours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.Title)
            @Html.DisplayFor(model => model.Teacher.FirstName)
            @Html.DisplayFor(model => model.Teacher.SecondName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" />
        <a href='javascript:history.go(-1)' class="btn btn-secondary">Powrót</a>
    </form>
</div>
