@model IEnumerable<Praktyki.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Wszystkie rezerwacje</h1>

@if (Model.Count() > 0)
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.Nr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Day.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hour.Hours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.Title)
                    @Html.DisplayFor(modelItem => item.Teacher.FirstName)
                    @Html.DisplayFor(modelItem => item.Teacher.SecondName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Group.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}
else
{
    <b class="mt-5">Brak rezerwacji.</b>
}