@model IEnumerable<Praktyki.Models.Room>

@{ ViewData["Title"] = "Sala " + Model.ElementAt(0).Nr;}

<h1>Sala @Model.ElementAt(0).Nr</h1>

<p>
    <a asp-action="Create" asp-route-id="@Model.ElementAt(0).Id">Dodaj zajęcia</a>
</p>

<table class="table">
    
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reservations.FirstOrDefault().Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservations.FirstOrDefault().Day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservations.FirstOrDefault().Hour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservations.FirstOrDefault().Teacher)
             </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservations.FirstOrDefault().Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservations.FirstOrDefault().Subject)
            </th>
            <th></th>
        </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        foreach (var value in item.Reservations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => value.Room.Nr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => value.Day.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => value.Hour.Hours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => value.Teacher.Title)
                    @Html.DisplayFor(modelItem => value.Teacher.FirstName)
                    @Html.DisplayFor(modelItem => value.Teacher.SecondName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => value.Group.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => value.Subject.Name)
                </td>
               
                <td>
                    <a asp-action="Edit" asp-route-id="@value.Id">Edytuj</a> |
                    <a asp-action="Delete" asp-route-id="@value.Id">Usuń</a>
                </td>
            </tr>
        }
    }
</tbody> 
</table>


    <div>
        <a asp-controller="Rooms" asp-action="AllRooms">Powrót</a>
    </div>