@model IEnumerable<Praktyki.Models.Teacher>

@{
    ViewData["Title"] = "Nauczyciele";
}

<h1>Nauczyciele</h1>

<p>
    <a asp-action="Create">Dodaj nauczyciela</a>  &nbsp;&nbsp;&nbsp;&nbsp;
    <a asp-action="Search">Wyszukaj zajęcia nauczyciela</a>
</p>

@if (Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SecondName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SecondName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <b class="mt-5">Brak dodanych nauczycieli.</b>
}